.postControl {
  display: flex;
  justify-content: flex-end; /* 버튼들을 오른쪽으로 정렬 */
  align-items: end;
  margin-bottom: 0px;
  margin-right: 10px;
  gap: 10px; /* 버튼 사이의 간격 추가 */
}

.writePost {
  background-color: #8fcf8f;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;

  &:hover{
    opacity: 0.7;
  }
}

.sortPosts {
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #fff;
  cursor: pointer;
}
