@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  background-color: white;
  margin-top: 0px;
  border-radius: 10px;
  overflow: hidden;
  padding: 0;
  position: relative;
}

.loginImage {
  flex: 1;
  background-color: #4caf50;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  position: relative;
}

.loginImage h2 {
  font-size: 60px;
  font-family: 'Alfa Slab One', sans-serif;
}

.loginForm {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  text-align: left;
}

.loginFormTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.loginFormTitle h4 {
  margin: 0;
}

.loginFormTitleSignup {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-top: 10px;
}

.green {
  color: #4caf50;
}

.form {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 10px;
}

.submitButton {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #45a049;
}

.signupLink {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
}

.signupLink a {
  color: #4caf50;
  text-decoration: none;
}

.signupLink a:hover {
  text-decoration: underline;
}
