.container {
  padding: 10px;
  width: 220px; // 인포윈도우의 너비 조정
  min-height: 120px; // 최소 높이 설정
  background-color: #f9f9f9; // 배경색을 연한 회색으로 조정
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);

  h4 {
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
  }

  p {
    margin: 2px 0;
    font-size: 12px;
    color: #666;
  }

  .button {
    margin: 5px;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #00950F; // 버튼 색상 변경
    color: white;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    height: auto;
    width: auto;

    &:hover {
      opacity: 0.7;
    }
  }
}

.arr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}