@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

/* container 클래스 */
.container {
  width: 1250px;
  margin: 0 auto; /* 가운데 정렬을 위해 margin을 자동으로 설정 */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* navbar 클래스 */
.navbar {
  width: 100%; /* 부모 요소의 너비에 맞추기 */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: white;
}

.left-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  font-family: 'Alfa Slab One', sans-serif;
  font-size: 29px;
  font-weight: bold;
  color: #00950F;
  text-transform: uppercase;
  text-decoration: none;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-link {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #666;
  text-decoration: none;
  cursor: pointer;
}

.nav-link:hover,
.nav-link.active {
  color: #000;
  font-weight: bold;
}

.rightNav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.iconButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
}

.iconButton:focus {
  outline: none;
}

.icon {
  font-size: 24px;
}

.divider {
  width: 1px;
  height: 24px;
  background-color: #666;
}
