$background: #80A1D4;
$default-padding: 20px;
$margin: 10px;

@mixin border-radius($radius) {
  border-radius: $radius;
}

.container {
  width: 50%;
  background-color: $background;
  @include border-radius(50px);
  @media(min-width: 600px){
    &{
      width: 100%;
      @include border-radius(20px);
    }
  }

  .header {
    font-size: 20px;
    color: #333;

    .title {
      font-weight: bold;
    }
  }

  .content {
    padding: $default-padding;

    p {
      margin-bottom: $margin;
    }
  }

  .button {
    margin: $margin;
    padding: $default-padding;
    background-color: #E1E1E1;

    &:hover {
      background-color: #1E1E1E;
    }

    &:active {
      background-color: red;
    }

    &.action{
      color: red;
    }
  }
}